{% extends "layout.njk" %}

{% block header %}
{% endblock %}

{% block content %}

  <section class="user-login container form">
    <form method="POST" action="/user/forgot-password">
      <header class="header">
        <img src="/assets/logo.png" alt="Logo">
        <h1>Esqueceu sua senha?</h1>
      </header>
      <div class="fields">
        <div class="item">
          <h3>Email</h3>
          <input 
            type="text" 
            name="email" 
            placeholder="Digite seu email" 
            onblur="Validate.apply(this, 'isEmail')"
          >
        </div>
        <div class="recover">
          <button class="button" type="submit">Recuperar</button>
        </div>
      </div>
      
    </form>
  </section>
{% endblock %}

{% block footer %}
{% endblock footer %}

