{% extends "layout.njk" %}

{% block header %}
{% endblock %}

{% block content %}

  <section class="user-login container form">
    <form method="POST" action="/user/reset-password">
      <header class="header">
        <img src="/assets/logo.png" alt="Logo">
        <h1>Nova senha</h1>
      </header>
      <div class="fields">
        <div class="item">
          <h3>Email</h3>
          <input 
            type="text" 
            name="email" 
            placeholder="Digite seu email"
            onblur="Validate.apply(this, 'isEmail')"
          >
        </div>
        <div class="item">
          <h3>Nova Senha</h3>
          <input type="password" name="password" placeholder="Digite sua nova senha">
        </div>
        <div class="item">
          <h3>Repetir Senha</h3>
          <input type="password" name="passwordRepeat" placeholder="Repita sua nova senha">
        </div>
        <input type="hidden" name="token" value="{{ token }}" >

        <div class="recover">
          <button class="button" type="submit">Nova senha</button>
        </div>
      </div>
      
    </form>
  </section>
{% endblock %}

{% block footer %}
{% endblock footer %}

