<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'parts/styles.njk' %}

    <title>Foodfy</title>
</head>
<body>
    {% include 'parts/massages.njk' %}
    <header class="admin-header">
        <div>
            <img src="/assets/admin-logo.png" alt="logo" >  
            <a href="/admin/recipes">Receitas</a>
            <a href="/admin/chefs">Chefs</a>
            <a href="/admin/users">Usuários</a>
        </div>
        {% if session %}
        <form action="/user/logout" method="post">
            <button type="submit">Sair</button>
        </form>
        {% endif %}
    </header>

    <div class="admin-content">
    

    {% block content %}

    {% endblock %}
    </div>
</body>
<script src="/scripts.js"></script>
</html>